#overrides .navbar-brand {
    transform: scale(1.5);
    margin-left: 45px;
    font-weight: bold;
}

 #overrides .navList a {
    font-size: 18px;
}

.navbar{
    background-color: white;
}

.container {
    background-color: white;
    overflow: hidden
}

body {
    background-image: url("/static/bambooWeave.jpg");
}