#overrides .navbar-brand {
    transform: scale(1.5);
    margin-left: 45px;
    font-weight: bold;
    font-family: harrington;
}

.navbar {
    background-color: white;
}

.container{
    background-color: white;
    overflow: hidden;
    padding-top: 15px;
    padding-bottom: 40px;
    padding-top: 20px;
    margin-top: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 34px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #2196F3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(166px);
    -ms-transform: translateX(166px);
    transform: translateX(166px);
}

.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

body {
    background-image: url(/static/bambooWeave.jpg);
}

main {
    background-color: #003742;
    /* margin-left: 90px;
    margin-right: 90px;
    margin-top: 30px; */
    margin: 1px 90px 50px 90px;
    padding: 15px 15px;
}

.container h6{
    font-weight: bold;
    font-size: 18px;
}

.container .card .card-title {
    font-style: italic;
}