#overrides .navbar-brand {
    transform: scale(1.5);
    margin-left: 45px;
    font-weight: bold;
}

html, body {
    background:
        linear-gradient(135deg, #a8b0b8 21px, #f4faff 22px, #f4faff 24px, transparent 24px, transparent 67px, #f4faff 67px, #d9ecff 69px, transparent 69px),
        linear-gradient(225deg, #a8b0b8 21px, #f4faff 22px, #f4faff 24px, transparent 24px, transparent 67px, #f4faff 67px, #d9ecff 69px, transparent 69px)0 64px;
    background-color:#a8b0b8;
    background-size: 64px 128px;
}

 #overrides .navList a {
    font-size: 18px;
}

.navbar{
    background-color: white;
}